<h1>New game</h1>

<ul>
<% @letters.each do |letter| %>
  <li><%= letter %></li>
<% end %>
</ul>

<p>What is the longest word you can find?</p>

<form action="/score" method="post">
  <input id="user-word" type="text" name="word">
  <input id="button" type="submit" value="Play">
</form>
